body {
	font: 0.7em sans-serif;
}

div {
	float: left;
}

table {
	font-size: 1em;
}

.section {
	width: 100%;
}

.label {
	margin-left: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
}

.result {
	float: none;
}

.fail {
	color: red;
	font-weight: bold;
}

.success {
	color: green;
	font-weight: bold;
}